#page{
    display: flex;
}

.Pie{
    margin-left: 3%;
}
@media only screen and (max-width: 1920px){
    .Pie{
        margin-left: 3%;
    }
    
}

@media only screen and (max-width: 1680px){
    .Pie{
        margin-left: 3%;
    }
}

@media only screen and (max-width: 1440px){
    .Pie{
        margin-left: 1%;
    }
}